node_modules/
yarn-error.log
.next/
.env

**/public/precache.*.*.js
**/public/sw.js
**/public/workbox-*.js
**/public/precache.*.*.js.map
**/public/sw.js.map
**/public/workbox-*.js.map
examples/**/yarn.lock
examples/**/package-lock.json
